body {
  font-family: helvetica, sans-serif;
}



.navbar {
  height: 70px;
  border-bottom: 1px solid black;

}

.navbar h1{
  font-size: 24px;
  color: #333;
  display: inline-block;
  float:left;
  line-height: 70px;
  margin-left: 30px;
}

.navbar .nav-cart {
  float: right;
}

.navbar .nav-cart img{
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  padding-bottom: 5px;

}

.navbar .nav-cart h2{
  display: inline-block;
  font-size: 20px;
  color: #444;
  margin-right: 60px;
  line-height: 70px;
}

.top-image h1{
  font-size: 50px;
  text-align: center;
  line-height: 300px;
  opacity: 1;
}

.top-image {
  height: 250px;
  background-image: url("https://s3.amazonaws.com/viking_education/demos/viking_store_app/viking_ship_background_medium.jpg");

}

.middle-bar {
  background-color: #111;
  height: 100px;
}

.middle-bar h1{
  font-size: 30px;
  color: #ddd;
  text-align: center;
  line-height: 100px;
}

.middle-bar-2 {
  height: 40px;
}

.middle-bar-2 h1{
  font-size: 20px;
  font-style: italic;
  color: #999;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid black;
}
