body {
  font-family: helvetica, sans-serif;
}



.navbar {
  height: 70px;
  border-bottom: 1px solid black;

}

.navbar h1{
  font-size: 24px;
  color: #333;
  display: inline-block;
  float:left;
  line-height: 70px;
  margin-left: 30px;
}

.navbar .nav-cart {
  float: right;
}

.navbar .nav-cart img{
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  padding-bottom: 5px;

}

.navbar .nav-cart h2{
  display: inline-block;
  font-size: 20px;
  color: #444;
  margin-right: 60px;
  line-height: 70px;
}

.top-image h1{
  font-size: 50px;
  text-align: center;
  line-height: 300px;
  opacity: 1;
}

.top-image {
  height: 250px;
  background-image: url("https://s3.amazonaws.com/viking_education/demos/viking_store_app/viking_ship_background_medium.jpg");
}

.middle-bar {
  background-color: #333;
  height: 100px;
}

.middle-bar h1{
  font-size: 30px;
  color: #eee;
  text-align: center;
  line-height: 100px;
}

.middle-bar-2 {
  height: 40px;
}

.middle-bar-2 h1{
  font-size: 20px;
  font-style: italic;
  color: #999;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid black;
}


.all-items {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;

}

.item-container {
  width: 300px;
  height: 350px;
  display: inline-block;
  margin: 0px 10px;
  margin-bottom: 20px;
}

.item-image {
  position: relative;
}

.item-image img{
  width: 298px;
  height: 250px;
  border: 1px solid black;
  position: relative;
  object-fit: contain;

}

.item-image p{
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid black;
  padding: 5px 10px;
  color: #555;

}
.item-title {
  width: 300px;
  height: 40px;
  background-color: #333;
}

.item-title h1 {
  text-align: center;
  color: #eee;
  font-size: 24px;
  line-height: 40px;
}


.item-bottom-bar {
  width: 300px;
  margin-top: -3px;
  height: 40px;
  background-color: #333;
}

.item-bottom-bar .add-to-cart {
  background-color: orange;
  padding: 4px 15px;
  margin: 7px 110px;
}

.pagination {
  width: 400px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.pagination a{
  margin: 10px;
}

.footer {
  height: 200px;
  background-color: #333;
}

.footer h1 {
  padding-top: 30px;
  color: orange;
  font-size: 18px;
  text-align: center;
}

.phone{
  width: 220px;
  margin: auto;
}

.footer .phone h1{
  display: inline-block;
  font-size: 14px;
  color: white;
  margin-left: 15px;
}

.footer img {
  object-fit: contain;
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

.footer .email {
  width: 220px;
  margin: auto;
}

.footer .email h1{
  display: inline-block;
  font-size: 14px;
  color: white;
  margin-left: 15px;

}

